<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rnbsoft.dress_code.mapper.UserMapper">
        <!-- 모든 유저의 정보를 호출 -->
        <select id="selectAllUsers" resultType="com.rnbsoft.dress_code.dto.UserDTO">
            SELECT USER_NAME, USER_ID, USER_PASSWORD, USER_EMAIL, USER_ADDR
               FROM TB_USERS
        </select>

        <!-- 유저 회원가입 -->
        <insert id="userSave" parameterType="com.rnbsoft.dress_code.dto.UserDTO">
            INSERT INTO TB_USERS
            ( USER_NAME, USER_ID, USER_PASSWORD, USER_EMAIL, USER_MOV_TEL, USER_ADDR )
            VALUES( #{userName}, #{userId}, #{userPassword}, #{userEmail}, #{userMovTel}, #{userAddr} )
        </insert>

        <!-- 유저 로그인 중복성 체크 -->
        <select id="userIdChk" parameterType="string" resultType="int">
            SELECT COUNT(USER_ID) FROM TB_USERS WHERE USER_ID = #{userId}
        </select>
</mapper>